
body {
    box-sizing: border-box;
    box-align: center;
    margin: auto;
    background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)),
     url("../images/Crystaltheme.jpg");
    /* opacity: 0.5; */
    
    
    
}

h1 {
    padding: 20px;
    font-family: 'Fascinate Inline', cursive;
    text-align: center; 
}



#game {
    width: 500px;
    font-family: 'Crimson Text', serif;
    float: left;
    margin-left: 50px;
   
    

}
 #list {
    font-family: 'Crimson Text', serif;
    float: right;
    position: fixed;
    margin-left: 600px;
    padding-top: 10px;
   
 }

 #tally {

    font-family: 'Crimson Text', serif;
    float: right;
    position: fixed;
    margin-left: 800px;
    padding-top: 10px;

 }
 #crystals {
     position: fixed;
     margin-left: 900px;
     height: 300px;
     width: 300px;
     
 }

 img {
    height: 95px;
    width: 95px;
    margin-left: -5px;
    
    
 }

 button {
    height: 100px;
    width:  100px;
    margin: 10px;

 }

 #one {

 }

 div {
    padding: 5px;
    

 }